*{
    box-sizing: border-box;
    padding-left: 0 !important;
    padding-right: 0 !important;
    
}

.caja1 {
    background-color: rgb(255, 255, 255);
    height: 100px;
}

.caja2 {
    background-color: rgb(0, 0, 0);
    height: 750px;
    width: 800px;
    justify-content: right;
}

.caja3 {
    background-color: rgb(247, 147, 30);
    height: 750px;
    width: 800px;
    justify-content: start;
}

.caja4 {
    background-color: rgb(247, 147, 30);
    height: 600px;
    width: 600px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.caja5 {
    background-color: rgb(0, 0, 0);
    height: 600px;
    width: 600px;
}

.caja6 {
    background-color: aqua;
    height: 100px;
}

.caja7 {
    background-color: bisque;
    height: 100px;
}

.caja8 {
    background-color: blueviolet;
    height: 100px;
}

.botonesmenu:hover {
    background-color: orange !important;
}

.blanco {
    height: 1200px;
    background-color: white;
}

.negro {
    height: 100px;
}

.menu {
    background-color: white;
    width: 200px;
}

.rojo {
    background-color: red;
}

.centrar {
    justify-content: center !important;
    padding: 20px;
}

.black {
    background-color: black;
    height: 100px;
    width: 100px;
}
.negroo{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.naranja {
    background-color: orange;
    height: 750px;
}

.verde {
    background-color: green;
    height: 750px;
}

.azul {
    background-color: blue;
    height: 750px;
}

@font-face {
    font-family: lettersforlearners;
    src: url(letters.ttf);
}

@font-face {
    font-family: britannicbold;
    src: url(britannic.ttf);
}

p {
    font-family: lettersforlearners;
}

h1 {
    font-family: britannicbold;
}

.gh {
    background-color: white;
    height: 100px;
    padding: 20px;
}

.withe {
    background-color: white;
    height: 200px;
}

.imagen {
    background-color: black;
    height: 200px;
}

.kl {
    height: 70px;
}